<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly >
        <assemblyIdentity name="Microsoft.Build.Tasks.Core" />
        <bindingRedirect oldVersion="0.0.0.0-15.6.85" newVersion="15.6.85" />
      </dependentAssembly>
      <dependentAssembly >
        <assemblyIdentity name="Microsoft.Build.Framework" />
        <bindingRedirect oldVersion="0.0.0.0-15.6.85" newVersion="15.6.85" />
      </dependentAssembly>
      <dependentAssembly >
        <assemblyIdentity name="Microsoft.Build.Utilities.Core" />
        <bindingRedirect oldVersion="0.0.0.0-15.6.85" newVersion="15.6.85" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>